<!DOCTYPE html>
<html>
<head>
	<title>Digital Signage </title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
	<link rel="javascript" type="script/javascript" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"/>
</head>
<body>
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
			<div class="navbar-header img-responsive">
			<ul class="nav navbar-nav ">
			<li class="navbar-left "><a href="http://www.ericsson.com/" class="navbar-brand img img-responsive"><img  src="C:\Users\ESOUSSH\Desktop\Ericsson.png" style="top:auto;height: auto;width: auto;"></img></a></li>
			<li><----0---></li>
			<li><----1---></li>
			<li><----2---></li>
			<li><----2---></li>
			<li><----2---></li>
			<li><----2---></li>
			<li class="active">
			<a href="http://digitalsignage.com" class="navbar-right">
			<span class="glyphicon" ></span>
			Digital Signage Solutions</b></a>
			</ul>
			</div>
			<a href="http://digitalsignage.com" class="navbar-right">
			<span class="glyphicon glyphicon-plus" ></span>
			Add to Schedule</a>
	</div>
</nav>
</body>
</html>