<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<style type="text/css">
		.navbar { height: 15% min-height: 2px !important}
		.navbar-default{ height: 7% }
		.img{width: 35%; height: 25%; top: -250px;bottom: 50px; resize: true;}
		.navbar-header {
    		float: ;
    		text-align: center;
    		font-synthesis: red;
		}
		.IgiveText{ font-weight: 28;max-height: 25%}
		html, body {margin: 0; height: 100%; overflow: hidden;}
		.wrapper         {width:80%;height:100%;margin:auto;}
	</style>
	<script>
  function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
  }
</script>
</head>
<body>
	<nav class="navbar navbar-default ">
		<div class="container-fluid">
			<!--Logo-->
				<div class="navbar navbar-brand logo">
					<img  class="img embed-responsive-item" src="C:\Users\ESOUSSH\Downloads\DigitalSignage\DigitalSignage\DS\static\ericsson-128.png" class="navbar-header"/> 
				</div>
				<div>
					<ul class="navbar-brand navbar-header active" text-align="left" style="float: none;" >
						<a href="#" class="IgiveText"><big style="font-size: 45">IPTV & CLOUD</big></a></li>
					</ul>
					</div>
				</div>
		</div>
	</nav>
	<div class="shrinktofit">
	<iframe  class="embed-responsive-item" src="http://3.bp.blogspot.com/-Lgvc3POiwnM/T0UtNCozi1I/AAAAAAAANTY/KHGVSieTRpE/s1600/Bugs+Bunny+1.jpg" onload="resizeIframe(this)" style="position:relative;top:2%;left:15%;width:87%;height:87%;" scrolling="no" frameborder="0"></iframe>
	</div>
</body>
</html>