<html>
<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">	
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
		<!--<h1> 3 column layouts</h1>
		<div class="row">
			<div class="col-md-4" style="background-color: #FF9999">First</div>
			<div class="col-md-4" style="background-color: #009999">Middle</div>
			<div class="col-md-4" style="background-color: #FFCCFF">Right</div>v
		</div>-->
		<!--<p> You can highlight words or <mark> text using the mark</mark></p>
		<blockquote>
			<p> Sometimes I wet the bed on purpose</p>
			<footer>My Grandpa</footer>
		</blockquote>
		<h4> Things to do when I am bored</h4>
		<dl>
			<dt>Indoors</dt>
				<dd> Take a nap</dd>
				<dd> Watch netflix for 10 hours</dd>
			<dt>Outdoors</dt>
				<dd>GO back inside</dd>
			<dt>Code here</dt>
			<!<code>#include<iostream>
using namespace std;
int fib(int n){
	int f[n+1];
	int i;
	f[0]=0;
	f[1]=1;
	for(i=2;i<=n;i++)
		f[i]=f[i-1]+f[i-2];
	return f[n];
}
int main(){
	int n=9;
	
}</code>
		</dl>
		<p> For multi line code use the pre tags</p>
		<pre>
			#include<iostream></iostream>
			using namespace std;
			int fib(int n){
			int f[n+1];
			int i;
			f[0]=0;
			f[1]=1;
			for(i=2;i<=n;i++)
			f[i]=f[i-1]+f[i-2];
			return f[n];
			}
			int main(){
			int n=9;

			}
		</pre>
	<p> This is keyboard idangerkbd>Ctrl+Dedangerd></p>
	<p class="text-muted"> Text is muted</p>
	<p class="bg-muted"> Text is bgmuted</p>
	<p class="text-success"> Text is success</p>
	<p class="text-danger"> Text is danger</p>
	<!<h2> Condensed Tbale </h2>
	<table class="table-condensed">
		<thead>
			<tr>
				<th>
					Name
				</th>
				<th>Age</th>
				<th>Points</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Bucky Robers</td>
				<td>74</td>
				<td>24333</td>
			</tr>
			<tr>
				<td>Robers</td>
				<td>74</td>
				<td>24333</td>
			</tr>
			<tr>
				<td>Bucky Ros</td>
				<td>74</td>
				<td>24333</td>
			</tr>
		</tbody>
	</table>
	<h2> Striped Tbale </h2>
	<table class="table-striped">
		<thead>
			<tr>
				<th>
					Name
				</th>
				<th>Age</th>
				<th>Points</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Bucky Robers</td>
				<td>74</td>
				<td>24333</td>
			</tr>
			<tr>
				<td>Robers</td>
				<td>74</td>
				<td>24333</td>
			</tr>
			<tr>
				<td>Bucky Ros</td>
				<td>74</td>
				<td>24333</td>
			</tr>
		</tbody>
	</table>-->

	<!--<img src="C:\Users\Public\Pictures\Sample Pictures\Desert.jpg" class="img-rounded" width=20px height=20px>
	<img src="C:\Users\Public\Pictures\Sample Pictures\Desert.jpg" class="img-circle" width=20px height=20px>-->
	<!--<img src="C:\Users\Public\Pictures\Sample Pictures\Desert.jpg" class="img-responsive" >-->
	<!--<div class="embed-responsive embed-responsive-16by9">
		<iframe class="embed-responsive-item" src="www.youtube.com/embed/ClHu3XQBnGU"></iframe>
	</div>-->
<!--<nav class="navbar navbar-inverse">-->
	<!--<div class="container-fluid">
	<div class="well well-sm">
		Basic Well
	</div>
	<div class="alert alert-success fade in">
	<a href="#" class="close" data-dismiss="alert" aria-label=""></a>
	Congos!
	</div>
	<div class="alert alert-danger">Danger! Dont get here!</div>-->
		<!--logo-->
		<!--<div class="navbar-header">
			<a href="#" class="navbar-brand">The NewBoston</a>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="http://www.Food.com">Food</a></li>
				<li cass="active"><a href="http://www.Food.com/Veg">Veg Food</a></li>
				<li cass="active"><a href="http://www.Food.com/NonVeg">Non VegFood</a></li>
				<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggel="dropdown">My Profile<span class="caret"></span></a></li>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">Photo</a></li>
						<li><a href="#">Non</a></li>
					</ul>
			</ul>
			<div id="mainNavBar">
			<ul class="nav navbar-nav">
				<li class="active"><a href="http://www.Food.com">Food</a></li>
				<li cass="active"><a href="http://www.Food.com/Veg">Veg Food</a></li>
				<li cass="active"><a href="http://www.Food.com/NonVeg">Non VegFood</a></li>
			</ul>
			</div>
		</div>-->

		<!--</div>-->
<!--</nav>-->
<!--<div id="wrapper">
	<!---SideBar-->
	<!--<div id="sidebar-wrapper"
	<ul class="sidebar-nav">
		<li><a href="#">Account</a></li>
		<li><a href="#">Settings</a></li>
		<li><a href="#">Logout</a></li>
	</ul>
</div>-->
	<!--Page Content-->
	<!--<div id="page-content-wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<a href="#" class="btn-success" id="menu-toggle">Toggle Menu</a>
					<h1>SIdebar Layouts are cool</h1>
					<p>I love Apple Pie. Blalh Blahh 
					blah
					blah</p>
				</div>
			</div>
		</div>
	</div>
</div>-->
 <!-- JS Menu Toggle Script-->
  <!--<script>
  	$("#menu-toggle").click(function(e){
  		e.preventDefault();
  		$("#wrapper").toggleClass("toggled");


  	});
  </script>-->
 <ul class="nav navbar-right ">
	  	<li class="">
	  		<a href="{% url 'music:album-add' %}"
	  			<span class="glyphicon glyphicon-plus" aria-hidden="true"> </span> Add Album </a>
	  	</li>
	  </ul>
  <ul class="nav navbar-nav navbar-right">
  <li class="">
  	<a href=""></a>
  </ul>
  {% block body%}
  {% endblock %}

</body>
</html>